<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

    <!--/*@thymesVar id="person" type="by.shipul.spring.models.Person"*/-->
    <p th:text="${person.getName()}"></p>
    <p th:text="${person.getSurname()}"></p>
    <p th:text="${person.getEmail()}"></p>
    <p th:text="${person.getId()}"></p>
    <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</body>
</html>